mixin testimonials
    .testimonials
        .container.container--lg
            .row
                .col-12
                    .title.testimonials__title--black
                        h2 Test<wbr>imonials
                    .testimonials__icon
                        img(src="./img/quote.png" alt="quote")
            .row.d-flex.justify-content-center
                .col-8
                    .paragraph.testimonials__paragraph--black
                        p Vis quaeque inermis atomorum cu. Aperiam suscipiantur at pro. Nec paulo essent hendrerit ut, mel cu oblique eripuit maiestatis.
                    .testimonials__picture
                        img(src="./img/rob.png" alt="rob")
                    .description.testimonials__description--blue
                        p Rob Singer, Web Developer