mixin about
    .about
        .container.container--lg
            .row
                .col-12
                    .title.about__title--black
                        h2 About Us
            .row.d-flex.justify-content-center
                .col-10
                    .paragraph.about__paragraph--black
                        p Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est, nec et autem impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale possit nostrum et pro.
            .row
                .col-6.pr-3
                    .description.about__description
                        img(src="./img/exclusive.png" alt="exclusive shortcodes")
                        h3 Exclusive Shortcodes
                            p Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans.
                .col-6.pr-3            
                    .description.about__description
                        img(src="./img/valid.png" alt="valid code")
                        h3 100% valid and clean code
                            p Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans.
            .row
                .col-6.pr-3
                    .description.about__description
                        img(src="./img/lifetime.png" alt="lifetime updates")
                        h3 Free Lifetime Updates
                            p Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans.
                .col-6.pr-3
                    .description.about__description
                        img(src="./img/support.png" alt="24/7 support")
                        h3 24/7/365 Customer Support
                            p Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans.