.about {
    padding-top: 134px;
    padding-bottom: 32px;
    box-shadow: 0px 15px 10px -15px #111;

    &__title--black h2 {
        color: #333;
        margin-bottom: 20px;
    }

    &__paragraph--black p {
        opacity: 0.8;
        color: #333;
        margin-bottom: 72px;
    }

    &__description {
        display: flex;
        
    }

    img {
        align-self: center;
        padding-right: 30px;
        margin-top: -40px;
    }

    &__description h3 {
        color: #333; 
    }

    &__description p {
        opacity: 0.8;
        color: #333;
        padding-top: 10px;
        
    }

    &__description {
        padding-bottom: 82px;
    }
    
}
