mixin team
    .team
        .container.container--lg
            .row
                .col-12
                    .title.team__title--black
                        h2 Our Team
            .row
                .col-3
                    .team__picture
                        img(src="./img/alan.png" alt="alan")
                    .description.team__author
                        p Alan Sobakovich
                    .team__position
                        p Founder
                    .description.team__description--black.pr-1.pl-1
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.
                .col-3
                    .team__picture
                        img(src="./img/john.png" alt="john")
                    .description.team__author
                        p John Mu
                    .team__position
                        p Product Manager
                    .description.team__description--black.pr-1.pl-1
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.
                .col-3
                    .team__picture
                        img(src="./img/melissa.png" alt="mel")
                    .description.team__author
                        p Melissa Jade
                    .team__position
                        p Designer
                    .description.team__description--black.pr-1.pl-1
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.
                .col-3
                    .team__picture
                        img(src="./img/greg.png" alt="greg")
                    .description.team__author
                        p Greg Mercury
                    .team__position
                        p Developer
                    .description.team__description--black.pr-1.pl-1
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.