mixin team
    .team
        .container.container--lg
            .row
                .col-12
                    .title.team__title--black
                        h2 Our Team
            .row
                .col-3
                    .team__picture
                        img(src="./img/alan.png" alt="alan")
                    .description.team__author
                        p Alan Sobakovich
                .col-3
                    .team__picture
                        img(src="./img/john.png" alt="john")
                    .description.team__author
                        p John Mu
                .col-3
                    .team__picture
                        img(src="./img/melissa.png" alt="mel")
                    .description.team__author
                        p Melissa Jade
                .col-3
                    .team__picture
                        img(src="./img/greg.png" alt="greg")
                    .description.team__author
                        p Greg Mercury