include ../blocks/header/_header.pug
include ../blocks/about/_about.pug
include ../blocks/features/_features.pug
include ../blocks/advantages/_advantages.pug
include ../blocks/testimonials/_testimonials.pug
include ../blocks/team/_team.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./css/style.css")
        <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico"/>
    body
        +header
        +about
        +features
        +advantages
        +testimonials
        +team