include ../blocks/header/_header.pug
include ../blocks/about/_about.pug
include ../blocks/features/_features.pug
include ../blocks/advantages/_advantages.pug
include ../blocks/testimonials/_testimonials.pug
include ../blocks/team/_team.pug
include ../blocks/faq/_faq.pug
include ../blocks/work/_work.pug
include ../blocks/blog/_blog.pug
include ../blocks/partners/_partners.pug
include ../blocks/footer/_footer.pug
include ../blocks/map/_map.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous")
        link(rel="stylesheet" href="./css/jquery.fancybox.min.css")
        link(rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico")
        link(rel="stylesheet", href="./css/bootstrap.min.css")
        link(rel="stylesheet", href="./css/style.css")
        
        
    body
        +header
        +about
        +features
        +advantages
        +testimonials
        +team
        +faq
        +work
        +blog
        +partners
        +footer
        +map



<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="./js/jquery.fancybox.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/back.js"></script>

script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQDEK_bp8E3TJz1Sg1VMqF7jn8J3Z7Haw")
<script src="./js/map.js"></script>
<script id="rendered-js" src="./js/accordion.js"></script>
<script src="./js/hamburger.js"></script>