include ../blocks/header/_header.pug
include ../blocks/about/_about.pug
include ../blocks/features/_features.pug
include ../blocks/advantages/_advantages.pug
include ../blocks/testimonials/_testimonials.pug
include ../blocks/team/_team.pug
include ../blocks/faq/_faq.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous")
        <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico"/>
    body
        +header
        +about
        +features
        +advantages
        +testimonials
        +team
        +faq


<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

<script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script id="rendered-js" src="./js/accordion.js"></script>
