.footer {
    padding-top: 133px;
    background-color: #333;

    &__title--white {
        color: white;
        margin-bottom: 63px;
    }

    &__paragraph--white {
        color: white;
        opacity: 1;
        margin-bottom: 19px;
    }

    &__phone {
        font-weight: 400;
        margin-bottom: 70px;
    }
    
    &__links {
        display: inline-flex;
        margin-bottom: 71px;
        
    }

    &__facebook {
        width: 50px;
        height: 50px;
        
        border-radius: 50%;
        background-color: #3b579d;
    }

    &__facebook i {
        color: white;
    }

    &__twitter {
        width: 50px;
        height: 50px;
        
        border-radius: 50%;
        background-color: #5ea9dd;
    }

    &__twitter i {
        color: white;
    }

    &__google {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #df4a32;
    }

    &__google i {
        color: white;
    }

    &__description--white p {
        text-align: center;
        color: white;
        font-size: 14px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: red;
    }

    i {
        align-self: center;
        
    }

    i:hover {
        color: black;
    }
}