mixin partners
    .partners
        .container.container--lg
            .row
                .col-12
                    .title.partners__title--black
                        h2 Our Partners
            .row
                .col-12.d-flex.justify-content-center
                    .partners__img.pr-5
                        a(href="https://www.templatemonster.com/")
                            img(src="./img/templatemonster.png" alt="Template Monster")
                    .partners__img.pr-5
                        a(href="https://www.templatemonster.com/")
                            img(src="./img/motocms.png" alt="MotoCMS")
                    .partners__img
                        a(href="https://www.templatemonster.com/")
                            img(src="./img/templatetuning.png" alt="Template Tuning")