mixin blog
    .blog
        .container.container--lg
            .row
                .col-12
                    .title.blog__title--black
                        h2 Latest From The Blog
            .row.d-flex.justify-content-center
                .col-10
                    .paragraph.blog__paragraph--black
                        p Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est, nec et autem impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale possit nostrum et pro.
            .row
                .col-6
                    .blog__image
                        img(src="./img/blog1.jpg" alt="blog people")
                .col-6
                    .blog__image
                        img(src="./img/blog2.jpg" alt="blog hands")
