.blog {
    background-color: #f1f1f1;
    padding-top: 130px;

    &__title--black {
        margin-bottom: 50px;
    }

    &__paragraph--black p {
        opacity: 0.8;
        margin-bottom: 70px;
    }

    &__image {
        position: relative;
        margin-bottom: 120px;
    }


    &__image img {
        max-width: 100%;
        height: auto;
        
        box-shadow: 1.5px 2.6px 8px rgba(0, 0, 0, 0.1);
    }

    &__time {
        color: #cfcfcf;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 900;
        line-height: 34px;
    }


    .gradient {
        position: relative;
        display: inline-block;
    }
    
    .gradient:hover:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        background-image: linear-gradient(to top, rgba(51, 51, 51, 0.6) 0%, transparent 56%, transparent 100%);
        
    }
    
    
}