mixin blog
    .blog
        .container.container--lg
            .row
                .col-12
                    .title.blog__title--black
                        h2 Latest From The Blog
            .row.d-flex.justify-content-center
                .col-10
                    .paragraph.blog__paragraph--black
                        p Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est, nec et autem impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale possit nostrum et pro.
            .row
                .col-6
                    .blog__image.gradient
                        img(src="./img/blog1.jpg" alt="blog people")
                        .blog__back
                            img(src="./img/void.png", alt="void")
                        .blog__description
                            p.blog__time 2 days ago
                            p.blog__paragraph No nam conceptam suscipiantur . . .
                .col-6
                    .blog__image.gradient
                        img(src="./img/blog2.jpg" alt="blog hands")
                        .blog__back
                            img(src="./img/void.png", alt="void")
                        .blog__description
                            p.blog__time 4 days ago
                            p.blog__paragraph Lorem Ipsum Dolorem...
