.work {
    padding-top: 120px;
    background-color: white;

    &__title--black h2 {
        color: #333;
        text-align: left !important;
        margin-bottom: 22px;
    }

    &__paragraph--blue {
        opacity: 1;
        text-align: left !important;
        color: #5dbdfe;
    }

    &__description--black {
        opacity: 0.8;
        color: #333;
        text-align: left;
    }

    &__video {
        margin-bottom: 125px;
    }
    
    &__images {
        position: relative;
    }

    &__images img {
        position: relative;
        max-width: 100%;
        height: auto;
    }

    &__back {
        content: '';
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%);
        margin-top: -30px;
        pointer-events: none;
    }

    &__images img:hover + &__back {
        display: block;
    }
}