mixin work
    .work
        .container.container--lg
            .row
                .col-6
                    .work__video
                        <iframe width="570" height="338" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                .col-6.pl-5
                    .title.work__title--black
                        h2 How Its Work
                    .paragraph.work__paragraph--blue
                        p Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est.
                    .description.work__description--black
                        p Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans. Ei vide movet tibique ius, eos vivendo consetetur theophrastus cu. Eum erroribus necessitatibus ne. Eius singulis ea his, debitis nonumes at per  appareat ponderum eos.