mixin work
    .work
        .container.container--lg
            .row
                .col-6
                    .work__video
                        <iframe width="570" height="338" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                .col-6
                    .title.work__title--black
                        h2 How Its Work