mixin advantages
    .advantages
        .container.container--lg
            .row
                .col-12
                    .advantages__title
                        h3 Advantages
            .row.d-flex.justify-content-center
                .col-10
                    .advantages__paragraph
                        p Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est, nec et autem impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale possit nostrum et pro.
            .row
                .col-3
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 1.
                .col-3
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 2.
                .col-3
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 3.
                .col-3
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 4.
            .row
                .col-3
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 5.
                .col-3
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 6.
                .col-3
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 7.
                .col-3
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 8.