mixin advantages
    .advantages
        .container.container--lg
            .row
                .col-12
                    .title.advantages__title--white
                        h2 Advantages
            .row.d-flex.justify-content-center
                .col-10
                    .paragraph.advantages__paragraph--white
                        p Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est, nec et autem impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale possit nostrum et pro.
            .row
                .col-3.d-flex.justify-content-center
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 1.
                        .description.advantages__listhead
                                h3 Cu tantas platonem
                        .description.advantages__listdescription.pr-1.pl-1
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. 
                .col-3.d-flex.justify-content-center
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 2.
                        .description.advantages__listhead
                                h3 Aperiam suscipiantur
                        .description.advantages__listdescription.pr-1.pl-1
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.
                .col-3.d-flex.justify-content-center
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 3.
                        .description.advantages__listhead
                                h3 Nusquam facilisis
                        .description.advantages__listdescription.pr-1.pl-1
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.
                .col-3.d-flex.justify-content-center
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 4.
                        .description.advantages__listhead
                                h3 Ex vel legimus
                        .description.advantages__listdescription.pr-1.pl-1
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.
            .row
                .col-3
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 5.
                        .description.advantages__listhead
                                h3 Nusquam facilisis
                        .description.advantages__listdescription.pr-1.pl-1
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.
                .col-3
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 6.
                        .description.advantages__listhead
                                h3 Ex vel legimus
                        .description.advantages__listdescription.pr-1.pl-1
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.
                .col-3
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 7.
                        .description.advantages__listhead
                                h3 Aperiam suscipiantur
                        .description.advantages__listdescription.pr-1.pl-1
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.
                .col-3
                    .advantages__list
                        .advantages__circle
                            .advantages__number
                                p 8.
                        .description.advantages__listhead
                                h3 Cu tantas platonem
                        .description.advantages__listdescription.pr-1.pl-1
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.