mixin header
    .header
        .container-fluid
            .row
                .col-12.pl-0.pr-0
                    .header__background
                        video(src="./videos/woman.mp4" type="video/mp4" autoplay muted loop id="background")
                        .header__menu
                            .nav-toggle
                                .nav-toggle-bar
                            .nav
                                ul
                                    li
                                        a(href="#") Test 1
                                    li
                                        a(href="#") Test 2
                                    li
                                        a(href="#") Test 3
                        .header__content
                            h1 Colorful <span>Flat
                            p.par1 The best open page template for
                            p.par2 Web Professionals
                            .row.d-flex.justify-content-center.ml-0.mr-0
                                .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12
                                    form(action="#" method="GET")
                                        input(type="text" name="Full name" id="Full name" placeholder="Full name" class="name") 
                                        input(type="email" name="Email" id="Email" placeholder="E-mail" class="email")
                                        input(type="tel" name="Phone" id="Phone" placeholder="Phone" class="phone")
                                        input(type="submit" value="Get started now!" class="submbutton")
