mixin header
    .header
        .container.container--lg
            .row
                .col-12.pl-0.pr-0
                    .header__background
                        video(src="./videos/woman.mp4" type="video/mp4" autoplay muted loop id="background")
