.features {
    margin-top: 134px;
    

    &__title--black h2 {
        color: #333;
        font-family: 'Lato', sans-serif;
        margin-bottom: 32px;
    }

    &__paragraph--black p {
        opacity: 0.8;
        color: #333;
        margin-bottom: 80px;
    }

    &__description h3 {
        color: #333;
    }

    &__description p {
        opacity: 0.8;
        color: #333;
        padding-top: 10px;
        
    }

    &__description {
        display: flex;
        padding-bottom: 82px;
    }

    .skins {
        align-self: center;
        padding-right: 40px;
        margin-top: -100px;
    }

    .scripts {
        align-self: center;
        padding-right: 28px;
        margin-top: -60px;
    }

    .design {
        align-self: center;
        padding-right: 23px;
        margin-top: -60px;
    }
    
    img {
        max-width: 100%;
    }
}