mixin features
    .features
        .container.container--lg
            .row
                .col-12
                    .features__title
                        h2 Features
            .row.d-flex.justify-content-center
                .col-10
                    .features__paragraph
                        p Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est, nec et autem impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale possit nostrum et pro.
            .row
                .col-6
                    .features__description
                        img.skins(src="./img/skins.jpg" alt="skins switcher")
                        h3 Instant Skins Switcher
                            p Switch styles instantly; choose among Material, Flat, Minimal, Grunge, Metro, 8-bit or Non-Standard Geometry.
                    .features__description
                        img.scripts(src="./img/scripts.jpg" alt="various scripts")
                        h3 Various Scripts Included
                            p Various Scripts are already on a board. Use Owl Carousel, Tabs etc. for your needs
                    .features__description
                        img.design(src="./img/design.jpg" alt="responsive design")
                        h3 Fully Responsive Design
                            p Product is tested on the common devices. It will render and scale on any possible screen.
                .col-6
                        img(src="./img/man_background.jpg" alt="guy")
