.features {
    padding-top: 134px;
    background-color: #f1f1f1;

    &__title--black h2 {
        color: #333;
        font-family: 'Lato', sans-serif;
        margin-bottom: 32px;
    }

    &__paragraph--black p {
        opacity: 0.8;
        color: #333;
        margin-bottom: 80px;
    }

    &__description h3 {
        color: #333;

        @media screen and (max-width: 575px) {
           font-size: 16px;
        }
    }

    &__description p {
        opacity: 0.8;
        color: #333;
        padding-top: 10px;
        
        @media screen and (max-width: 575px) {
            font-size: 16px;
         }
    }

    &__description {
        display: flex;
        padding-bottom: 82px;
    }

    .skins {
        align-self: center;
        padding-right: 40px;
        margin-top: -100px;

    }

    .scripts {
        align-self: center;
        padding-right: 28px;
        margin-top: -60px;
    }

    .design {
        align-self: center;
        padding-right: 23px;
        margin-top: -60px;
    }

    .guy {
        vertical-align: bottom;
    }
    
    img {
        max-width: 100%;
        background-color: #f1f1f1;
        @media screen and (max-width: 575px) {
            margin-left: 20px;
            
        }
    }
}